---
layout: base.njk
permalink: /datenschutz/
title: Datenschutzerklärung
---
<section><div class="wrap prose"><h2>Datenschutzerklärung</h2><div style="margin-top:20px">{{ site.datenschutz | paras | safe }}</div></div></section>
